In [391]:
import pandas as pd
import numpy as nm

In [392]:
#now we bring in the data

In [393]:
df = pd.read_csv("C:/Users/USER/Desktop/archive (16)/train.csv")

In [394]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [395]:
len(df)

891

In [396]:
#DROPPING THE UNWANTED COLUMNS

In [397]:
newdf=df.drop(["PassengerId","Name","SibSp","Parch","Ticket","Cabin","Embarked"],axis=1)

In [398]:
#NOW DROPING THE TARGET eLEMENT  FROM THE INPUTS

In [399]:
inputs = newdf.drop("Survived",axis=1)

In [400]:
target = df.Survived

In [401]:
inputs

     Pclass     Sex   Age     Fare
0         3    male  22.0   7.2500
1         1  female  38.0  71.2833
2         3  female  26.0   7.9250
3         1  female  35.0  53.1000
4         3    male  35.0   8.0500
..      ...     ...   ...      ...
886       2    male  27.0  13.0000
887       1  female  19.0  30.0000
888       3  female   NaN  23.4500
889       1    male  26.0  30.0000
890       3    male  32.0   7.7500

[891 rows x 4 columns]

In [402]:
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [403]:
#NOW WE LABEL ENCODE THE NON NUMERIC DATA IN COLUMNS

In [404]:
inputs.Sex=inputs.Sex.map({"male":1,"female":2})

In [405]:
inputs

     Pclass  Sex   Age     Fare
0         3    1  22.0   7.2500
1         1    2  38.0  71.2833
2         3    2  26.0   7.9250
3         1    2  35.0  53.1000
4         3    1  35.0   8.0500
..      ...  ...   ...      ...
886       2    1  27.0  13.0000
887       1    2  19.0  30.0000
888       3    2   NaN  23.4500
889       1    1  26.0  30.0000
890       3    1  32.0   7.7500

[891 rows x 4 columns]

In [406]:
#NOW WE CHECK FOR THFE NULL VALUES

In [407]:
inputs.Age.isnull().sum()

177

In [408]:
#checking the FIRST 10 AGES

In [409]:
inputs.Age[:20]

0     22.0
1     38.0
2     26.0
3     35.0
4     35.0
5      NaN
6     54.0
7      2.0
8     27.0
9     14.0
10     4.0
11    58.0
12    20.0
13    39.0
14    14.0
15    55.0
16     2.0
17     NaN
18    31.0
19     NaN
Name: Age, dtype: float64

In [410]:
inputs.Fare.isna().sum()

0

In [411]:
#filling all THE MISSING VALUES

In [412]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())

In [413]:
#CLEAN DATA

In [414]:
inputs.Age[:20]

0     22.000000
1     38.000000
2     26.000000
3     35.000000
4     35.000000
5     29.699118
6     54.000000
7      2.000000
8     27.000000
9     14.000000
10     4.000000
11    58.000000
12    20.000000
13    39.000000
14    14.000000
15    55.000000
16     2.000000
17    29.699118
18    31.000000
19    29.699118
Name: Age, dtype: float64

In [415]:
X = inputs
y=target

In [416]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [417]:
#MODEL MAKING##$

In [418]:
#SPLIT ARRAYS OR MATRICES INTO RANDOM TRAIN & TEST

In [419]:
from sklearn.model_selection import train_test_split

In [420]:
 X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [421]:
len(X_train)

712

In [422]:
len(X_test)

179

In [423]:
#NOW WE BRING IN THE DESICIONTREE ALGORITHM

In [424]:
from sklearn import tree

In [425]:
model = tree.DecisionTreeClassifier()

In [426]:
#fit the MODEL

In [427]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [428]:
#$$TESTING FOR THE ACCURACY###

In [429]:
model.score(X_test,y_test)

0.7541899441340782

In [430]:
#PREDICTION

In [431]:
X

     Pclass  Sex        Age     Fare
0         3    1  22.000000   7.2500
1         1    2  38.000000  71.2833
2         3    2  26.000000   7.9250
3         1    2  35.000000  53.1000
4         3    1  35.000000   8.0500
..      ...  ...        ...      ...
886       2    1  27.000000  13.0000
887       1    2  19.000000  30.0000
888       3    2  29.699118  23.4500
889       1    1  26.000000  30.0000
890       3    1  32.000000   7.7500

[891 rows x 4 columns]

In [477]:
model.predict([[1,1,26.000000,30.0000]])

C:\Users\USER\anaconda3main\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [ ]:
##CHECKING FOR

In [475]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64